<ul>
    <li>Upwork freelancer:<br />
        <i class="fa fa-id-card"></i>
        <a target="_blank" href="https://upwork.com/freelancers/{{ node['networq:upwork:freelancer']['id'] }}">Link</a>
    </li>
</ul>